body {
  background-color: #f2f2f2;
  font-family: 'Inter', Arial, Calibri, sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 0 2vh;
}

.nav-container .add-btn {
  margin-left: auto;
}

.add-btn {
  background-color: #02451C;
  color: white;
  border: none;
  padding: 1.2vh 1.5vw;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-family: 'Inter', Arial, Calibri, sans-serif;
}

.add-btn:hover {
  opacity: 0.9;
}


.main-container {
  display: flex;
  gap: 20px;
  margin: 2vh 2vh 0 2vh; 
}

.sidebar {
  width: 230px;
  background: white;
  border-radius: 8px;
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  height: fit-content;
}

.sidebar-item {
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  transition: all 0.2s ease;
}

.sidebar-item:hover {
  background-color: #02451C;
  color: white;
}

.sidebar-item:active {
  font-weight: bold;
  transform: scale(0.98);
}

.form-section {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  margin-bottom: 30px;
}

.form-grid label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.section-title {
  font-weight: 500;
  margin: 25px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.employment-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr auto;
  gap: 15px;
  margin-bottom: 20px;
  align-items: end;
}

.graduate-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    gap: 15px;
    align-items: end;
    margin-bottom: 15px;
}

.graduate-row select {
    width: 100%;
    height: 38px;           
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.employment-row label,
.graduate-row label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.circle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.circle-btn.minus {
  background-color: #f1f1f1;
}
